@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/yyu4vbk.css");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

// Root styles
html {
  font-size: 1vw;
}

body {
  background-color: #040b1e;
  color: #fef9f9;
  font-family: "Noto Sans JP", sans-serif;
}

// Common styles
h1 {
  font-family: "Sawarabi Mincho", serif;
}

h2 {
  font-family: superior-title, serif;
  color: #ffe943;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;

  h2 {
    margin-top: 12vw;
    font-weight: 900;
    font-size: 2.2rem;
  }
}

.title-svg {
  position: absolute;
  top: 0;
  left: 2vw;
  height: 15vw;
}

.sp-svg {
  display: none;
}

// Splide
.splide {
  .splide__track {
    height: 30vw;
  }

  .is-active {
    .glass {
      transform: scale(1);
    }
  }

  .glass {
    width: 100%;
    height: 100%;
    position: relative;
    bottom: 0;
    transform: scale(0.8);
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;

    img {
      position: relative;
      bottom: 0;
      margin: 0 auto;
      cursor: pointer;
    }

    p {
      width: 40%;
      font-size: 1.2rem;
      position: absolute;
      text-align: center;
    }
  }

  .rock {
    img {
      height: 40%;
    }

    p {
      bottom: 4vw;
    }
  }

  .long {
    img {
      height: 64%;
    }

    p {
      bottom: 6vw;
    }
  }

  .cocktail-glass {
    img {
      height: 50%;
    }

    p {
      bottom: 12vw;
    }
  }

  .wine {
    img {
      height: 68%;
    }

    p {
      bottom: 16vw;
    }
  }
}

// Modal
.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;

  &.visible {
    opacity: 1;
    visibility: visible;
    transition: all 1s ease;
  }

  .modal-bg {
    width: 100%;
    height: 100%;
    background-color: #00000080;
    position: absolute;
    top: 0;
    left: 0;
  }

  .modal-content {
    width: 63%;
    min-height: 81%;
    position: relative;
    z-index: 9999;
  }
}

// Top section
.top {
  min-height: 100vh;
  justify-content: center;
  align-items: end;

  img {
    width: 100%;
  }

  h1 {
    position: absolute;
    font-size: 3.3rem;
    letter-spacing: 2rem;
  }
}

.sp-top {
  display: none;
}

// About section
.about {
  min-height: 66vw;

  .svg {
    position: absolute;
    top: 0;
    right: 0;
    width: 42%;
    z-index: -1;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
      margin-top: 12vw;
      font-size: 1.2rem;
      line-height: 3;
      text-align: center;
    }

    .sp-br {
      display: none;
    }
  }
}

// Cocktail section
.cocktail {
  min-height: 90vw;
  align-items: center;

  .bar {
    width: 100%;
    margin-top: 10vw;
    position: relative;

    .slider {
      position: absolute;
      width: 100%;
    }

    .table {
      width: 100%;
    }
  }
}

// Store section
.store {
  align-items: center;

  .svg {
    position: absolute;
    left: 0;
    top: 30vw;
    width: 80%;
    z-index: -1;
  }

  .store-wrapper {
    margin-top: 12vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12vw;

    .container {
      display: flex;
      align-items: center;
      gap: 10vw;

      img {
        width: 24vw;
      }

      .content {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 3vw;

        p {
          text-align: center;
          font-size: 1.2rem;
          line-height: 2;

          span {
            font-size: 1.8rem;
          }
        }
      }
    }
  }
}

// Footer
footer {
  margin: 150px 0 20px;

  p {
    font-family: superior-title, serif;
    font-size: 1.2rem;
    text-align: center;
  }
}

// Individual pages
main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vw;

  img {
    width: 50%;
  }
}

.title {
  font-size: 6rem;
  font-family: "Sawarabi Mincho", serif;
  margin-top: 12vw;
}

.subtitle {
  font-size: 4rem;
  text-align: center;
}

.cocktail-about {
  min-height: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5vw;

  img {
    width: 36%;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2vw;

    p {
      &:nth-child(1) {
        font-size: 3rem;
      }

      &:nth-child(2) {
        font-size: 2.4rem;
        font-weight: bold;
      }
    }
  }
}

.material {
  min-height: 45vw;
  display: flex;
  flex-direction: column;
  gap: 5vw;

  img {
    position: absolute;
    right: 0;
    width: 72%;
    z-index: -1;
  }

  table {
    width: 72%;
    height: 24vw;

    td {
      width: 50%;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #fef9f9;
      font-size: 2rem;
    }
  }
}

.recipe {
  min-height: 60vw;
  display: flex;
  flex-direction: column;
  gap: 5vw;

  .container {
    display: flex;
    column-gap: 9vw;
  }

  .recipe-3 {
    width: 6vw;
    height: 36.8vw;
  }

  .recipe-4 {
    width: 6vw;
    height: 53.3vw;
  }

  .recipe-5 {
    width: 6vw;
    height: 69.6vw;
  }

  .content {
    margin: 1vw 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    p {
      font-size: 2rem;
    }
  }
}

.impression {
  min-height: 45vw;
  display: flex;
  gap: 5vw;

  .content {
    text-align: center;
    font-size: 2rem;
  }
}

@media screen and (max-width: 450px) {
  // Common styles
  .pc-svg {
    display: none;
  }

  .sp-svg {
    display: block;
  }

  .top {
    display: none;
  }

  .title-svg {
    display: none;
  }

  section h2 {
    font-size: 10rem;
  }

  // Top section
  .sp-top {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100vw;
    height: 100vh;

    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      z-index: -1;
    }

    h1 {
      font-size: 9rem;
      letter-spacing: 2rem;
      line-height: 1.8;
      margin-right: 6vw;
    }
  }

  // About section
  .about {
    min-height: 100vw;
    .svg {
      top: 10vw;
      width: 75%;
    }

    .content {
      p {
        font-size: 3rem;
        line-height: 3;
      }

      .sp-br {
        display: inline;
      }
    }
  }

  // Cocktail section
  .cocktail {
    min-height: 100vw;

    .slider {
      top: -2vw;

      .glass {
        p {
          width: 10%;
          font-size: 1.8rem;
        }
      }
    }
  }

  // Store section
  .store {
    .svg-store-1 {
      top: 30vw;
      position: absolute;
      left: 0;
      width: 72%;
      z-index: -1;
    }

    .svg-store-2 {
      top: 180vw;
      position: absolute;
      right: 0;
      width: 72%;
      z-index: -1;
    }

    .store-wrapper {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 18vw;

      .container {
        flex-direction: column;
        gap: 10vw;

        img {
          width: 80%;
        }

        .content {
          width: 100%;
          gap: 10vw;

          p {
            font-size: 3rem;

            span {
              font-size: 4.2rem;
            }
          }
        }
      }
    }
  }

  //Footer
  footer {
    margin: 40vw 0 5vw;

    p {
      font-size: 3rem;
    }
  }
}
