@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/yyu4vbk.css");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");

@function pc-vw($pixel) {
  $viewport: 1440;
  @return ($pixel / $viewport * 100vw);
}

@function sp-vw($pixel) {
  $viewport: 375;
  @return ($pixel / $viewport * 100vw);
}

@function modal-vw($pixel) {
  $viewport: 1015;
  @return ($pixel / $viewport * 100vw);
}

body {
  background-color: #040b1e;
  color: #fef9f9;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-family: "Sawarabi Mincho", serif;
}

h2 {
  font-family: superior-title, serif;
  color: #ffe943;
}

.sp-svg {
  display: none;
}

.top {
  margin-top: pc-vw(167);
  position: relative;

  .top-img {
    width: pc-vw(1440);
    height: pc-vw(596);
  }

  h1 {
    position: absolute;
    top: pc-vw(202);
    left: pc-vw(938);
    font-size: pc-vw(64);
    letter-spacing: pc-vw(64) * 0.3;
  }
}

.sp-top {
  display: none;
}

@media screen and (max-width: 450px) {
  .pc-svg {
    display: none;
  }

  .sp-svg {
    display: block;
  }

  .top {
    display: none;
  }

  .sp-top {
    display: block;
    position: relative;

    img {
      width: sp-vw(375);
    }

    h1 {
      position: absolute;
      top: sp-vw(354);
      right: sp-vw(28);
      font-size: sp-vw(32);
      letter-spacing: sp-vw(32) * 0.2;
      line-height: 1.7;
    }
  }

  .header {
    display: none;
  }
}

.about {
  margin-top: pc-vw(213);
  position: relative;

  .svg {
    position: absolute;
    top: pc-vw(-37);
    right: 0;
    width: pc-vw(636);
    height: pc-vw(1200);
    z-index: -1;
  }

  .header {
    position: absolute;
    top: 0;
    left: pc-vw(6);
    width: pc-vw(743);
    height: pc-vw(316);
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      margin-top: pc-vw(211);
      font-size: pc-vw(32);
      font-weight: 900;
    }

    p {
      margin-top: pc-vw(160);
      font-size: pc-vw(16);
      line-height: 3;
      text-align: center;
    }

    .sp-br {
      display: none;
    }
  }
}

@media screen and (max-width: 450px) {
  .about {
    margin-top: sp-vw(89);

    .svg {
      top: sp-vw(-59);
      width: sp-vw(260);
      height: sp-vw(305);
    }

    .content {
      h2 {
        margin-top: 0;
        font-size: sp-vw(16);
      }

      p {
        margin-top: sp-vw(60);
        font-size: sp-vw(12);
        line-height: 2;
      }

      .sp-br {
        display: inline;
      }
    }
  }
}

.cocktail {
  margin-top: pc-vw(332);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .header {
    position: absolute;
    top: 0;
    left: pc-vw(6);
    width: pc-vw(1024);
    height: pc-vw(316);
  }

  h2 {
    margin-top: pc-vw(213);
    font-weight: 900;
    font-size: pc-vw(32);
  }

  .bar {
    margin-top: pc-vw(162);
    position: relative;

    .slider {
      position: absolute;
      top: pc-vw(90);
    }

    .table {
      width: pc-vw(1440);
      height: pc-vw(776);
    }

    .splide {
      width: pc-vw(1440);

      .splide__list {
        position: relative;
      }

      .is-active {
        .glass {
          transform: scale(1);
          z-index: 1;
        }
      }

      .glass {
        display: flex;
        flex-direction: column;
        align-items: center;
        transform: scale(0.8);
        transition: 0.7s;

        img {
          vertical-align: baseline;
        }

        .rock {
          width: pc-vw(111);
          height: pc-vw(158);
          margin-top: pc-vw(165);
        }

        .long {
          width: pc-vw(205);
          height: pc-vw(325);
        }

        .cocktail-glass {
          width: pc-vw(171);
          height: pc-vw(277);
          margin-top: pc-vw(48);
        }

        .wine {
          width: pc-vw(146);
          height: pc-vw(325);
          margin-top: pc-vw(2);
        }

        p {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          font-size: pc-vw(16);
          font-family: "Sawarabi Mincho", serif;
        }
      }
    }
  }

  .modal {
    width: pc-vw(1015);
    height: pc-vw(1200);
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 1s ease;

    &.is-show {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
      z-index: 10;
    }
  }

  #close {
    position: fixed;
    top: pc-vw(90);
    right: pc-vw(240);
    width: modal-vw(60);
    height: modal-vw(60);
    z-index: 11;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    transition: all 1s ease;

    &.is-show {
      opacity: 1;
      pointer-events: auto;
      visibility: visible;
    }
  }
}

@media screen and (max-width: 450px) {
  .cocktail {
    margin-top: sp-vw(139);

    .bar {
      margin-top: sp-vw(29);

      .slider {
        top: sp-vw(-10);
      }

      .table {
        height: sp-vw(231.08);
      }

      .splide {
        .glass {
          .rock {
            width: sp-vw(51);
            height: sp-vw(72.59);
            margin-top: sp-vw(63.68);
          }

          .long {
            width: sp-vw(86);
            height: sp-vw(136.34);
          }

          .cocktail-glass {
            width: sp-vw(73.21);
            height: sp-vw(118.59);
            margin-top: sp-vw(17);
          }

          .wine {
            width: sp-vw(58.4);
            height: sp-vw(130);
            margin-top: sp-vw(6);
          }
        }
      }
    }

    h2 {
      font-size: sp-vw(16);
    }
  }
}

.store {
  margin-top: pc-vw(183);
  padding-top: pc-vw(213);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  .svg {
    position: absolute;
    left: 0;
    top: pc-vw(309);
    width: pc-vw(1220);
    height: pc-vw(1139);
    z-index: -1;
  }

  .header {
    position: absolute;
    top: 0;
    left: pc-vw(6);
    width: pc-vw(648);
    height: pc-vw(316);
  }

  h2 {
    font-weight: 900;
    font-size: pc-vw(32);
  }

  .store-warp {
    margin-top: pc-vw(147);
  }

  .container {
    display: flex;
    align-items: center;
    column-gap: pc-vw(216);

    &:nth-child(2) {
      margin: pc-vw(179) 0 pc-vw(202);
    }

    img {
      width: pc-vw(309);
      height: pc-vw(222);
    }
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: pc-vw(45);

    p {
      text-align: center;
      font-size: pc-vw(16);
      line-height: 2;

      span {
        font-size: pc-vw(24);
      }
    }
  }
}

@media screen and (max-width: 450px) {
  .store {
    margin-top: sp-vw(107.92);

    .svg-store-1 {
      top: sp-vw(348);
      width: sp-vw(238);
      height: sp-vw(349);
    }

    .svg-store-2 {
      top: sp-vw(899);
      left: sp-vw(233);
      width: sp-vw(142);
      height: sp-vw(305);
    }

    h2 {
      font-size: sp-vw(16);
    }

    .container {
      flex-direction: column;
      row-gap: sp-vw(39);

      &:nth-child(2) {
        margin: sp-vw(146) 0;
      }

      img {
        width: sp-vw(170);
        height: sp-vw(122.14);
      }
    }

    .content {
      row-gap: sp-vw(30);

      p {
        font-size: sp-vw(12);

        span {
          font-size: sp-vw(14);
        }
      }
    }
  }
}

.footer {
  margin: pc-vw(485) 0 pc-vw(68);

  p {
    font-family: superior-title, serif;
    font-size: pc-vw(12);
    text-align: center;
  }
}

@media screen and (max-width: 450px) {
  .footer {
    margin: sp-vw(77) 0 21;

    p {
      font-size: sp-vw(8);
    }
  }
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.title {
  font-size: modal-vw(48);
  font-family: "Sawarabi Mincho", serif;
  margin: modal-vw(111) 0 modal-vw(-1);
}

.subtitle {
  font-size: modal-vw(20);
  text-align: center;
}

.cocktail-about {
  width: modal-vw(1015);
  margin-top: modal-vw(19);
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: modal-vw(277);

  img {
    width: modal-vw(268);
    height: modal-vw(50);
  }

  .content {
    p {
      &:nth-child(1) {
        font-size: modal-vw(16);
      }

      &:nth-child(2) {
        font-size: modal-vw(24);
        font-weight: bold;
        margin-top: modal-vw(4);
      }
    }
  }
}

.icebreaker {
  .main {
    width: modal-vw(577);
    height: modal-vw(742);
  }
}

.material {
  margin-top: modal-vw(83);

  img {
    position: absolute;
    top: modal-vw(1095);
    right: 0;
    width: modal-vw(655);
    z-index: -1;
  }

  table {
    width: modal-vw(512);
    height: modal-vw(190);
    margin-top: modal-vw(33);

    td {
      width: 50%;
      text-align: center;
      vertical-align: middle;
      border: 1px solid #fef9f9;

      p {
        text-align: center;
        font-size: modal-vw(16);
      }
    }
  }
}

.recipe {
  display: flex;
  flex-direction: column;
  margin-top: modal-vw(64);

  .container {
    display: flex;
    column-gap: modal-vw(78);
    margin-top: modal-vw(100);
  }

  .recipe-3 {
    width: modal-vw(60);
    height: modal-vw(368);
  }

  .content {
    display: flex;
    flex-direction: column;
    row-gap: modal-vw(148);
    margin-top: modal-vw(6);

    p {
      font-size: modal-vw(16);
    }
  }
}

.impression {
  margin: modal-vw(149) 0 modal-vw(93);

  .content {
    margin-top: modal-vw(82);
  }
}
