@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/yyu4vbk.css");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
html {
  font-size: 1vw;
}

body {
  background-color: #040b1e;
  color: #fef9f9;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-family: "Sawarabi Mincho", serif;
}

h2 {
  font-family: superior-title, serif;
  color: #ffe943;
}

section {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
}
section h2 {
  margin-top: 12vw;
  font-weight: 900;
  font-size: 2.2rem;
}

.title-svg {
  position: absolute;
  top: 0;
  left: 2vw;
  height: 15vw;
}

.sp-svg {
  display: none;
}

.splide .splide__track {
  height: 30vw;
}
.splide .is-active .glass {
  transform: scale(1);
}
.splide .glass {
  width: 100%;
  height: 100%;
  position: relative;
  bottom: 0;
  transform: scale(0.8);
  transition: 0.7s;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: center;
}
.splide .glass img {
  position: relative;
  bottom: 0;
  margin: 0 auto;
  cursor: pointer;
}
.splide .glass p {
  width: 40%;
  font-size: 1.2rem;
  position: absolute;
  text-align: center;
}
.splide .rock img {
  height: 40%;
}
.splide .rock p {
  bottom: 4vw;
}
.splide .long img {
  height: 64%;
}
.splide .long p {
  bottom: 6vw;
}
.splide .cocktail-glass img {
  height: 50%;
}
.splide .cocktail-glass p {
  bottom: 12vw;
}
.splide .wine img {
  height: 68%;
}
.splide .wine p {
  bottom: 16vw;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}
.modal.visible {
  opacity: 1;
  visibility: visible;
  transition: all 1s ease;
}
.modal .modal-bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5019607843);
  position: absolute;
  top: 0;
  left: 0;
}
.modal .modal-content {
  width: 63%;
  min-height: 81%;
  position: relative;
  z-index: 9999;
}

.top {
  min-height: 100vh;
  justify-content: center;
  align-items: end;
}
.top img {
  width: 100%;
}
.top h1 {
  position: absolute;
  font-size: 3.3rem;
  letter-spacing: 2rem;
}

.sp-top {
  display: none;
}

.about {
  min-height: 66vw;
}
.about .svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 42%;
  z-index: -1;
}
.about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.about .content p {
  margin-top: 12vw;
  font-size: 1.2rem;
  line-height: 3;
  text-align: center;
}
.about .content .sp-br {
  display: none;
}

.cocktail {
  min-height: 90vw;
  align-items: center;
}
.cocktail .bar {
  width: 100%;
  margin-top: 10vw;
  position: relative;
}
.cocktail .bar .slider {
  position: absolute;
  width: 100%;
}
.cocktail .bar .table {
  width: 100%;
}

.store {
  align-items: center;
}
.store .svg {
  position: absolute;
  left: 0;
  top: 30vw;
  width: 80%;
  z-index: -1;
}
.store .store-wrapper {
  margin-top: 12vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12vw;
}
.store .store-wrapper .container {
  display: flex;
  align-items: center;
  gap: 10vw;
}
.store .store-wrapper .container img {
  width: 24vw;
}
.store .store-wrapper .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3vw;
}
.store .store-wrapper .container .content p {
  text-align: center;
  font-size: 1.2rem;
  line-height: 2;
}
.store .store-wrapper .container .content p span {
  font-size: 1.8rem;
}

footer {
  margin: 150px 0 20px;
}
footer p {
  font-family: superior-title, serif;
  font-size: 1.2rem;
  text-align: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6vw;
}
main img {
  width: 50%;
}

.title {
  font-size: 6rem;
  font-family: "Sawarabi Mincho", serif;
  margin-top: 12vw;
}

.subtitle {
  font-size: 4rem;
  text-align: center;
}

.cocktail-about {
  min-height: 24vw;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  gap: 5vw;
}
.cocktail-about img {
  width: 36%;
}
.cocktail-about .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2vw;
}
.cocktail-about .content p:nth-child(1) {
  font-size: 3rem;
}
.cocktail-about .content p:nth-child(2) {
  font-size: 2.4rem;
  font-weight: bold;
}

.material {
  min-height: 45vw;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.material img {
  position: absolute;
  right: 0;
  width: 72%;
  z-index: -1;
}
.material table {
  width: 72%;
  height: 24vw;
}
.material table td {
  width: 50%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #fef9f9;
  font-size: 2rem;
}

.recipe {
  min-height: 60vw;
  display: flex;
  flex-direction: column;
  gap: 5vw;
}
.recipe .container {
  display: flex;
  -moz-column-gap: 9vw;
       column-gap: 9vw;
}
.recipe .recipe-3 {
  width: 6vw;
  height: 36.8vw;
}
.recipe .recipe-4 {
  width: 6vw;
  height: 53.3vw;
}
.recipe .recipe-5 {
  width: 6vw;
  height: 69.6vw;
}
.recipe .content {
  margin: 1vw 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recipe .content p {
  font-size: 2rem;
}

.impression {
  min-height: 45vw;
  display: flex;
  gap: 5vw;
}
.impression .content {
  text-align: center;
  font-size: 2rem;
}

@media screen and (max-width: 450px) {
  .pc-svg {
    display: none;
  }
  .sp-svg {
    display: block;
  }
  .top {
    display: none;
  }
  .title-svg {
    display: none;
  }
  section h2 {
    font-size: 10rem;
  }
  .sp-top {
    display: flex;
    justify-content: center;
    align-items: end;
    width: 100vw;
    height: 100vh;
  }
  .sp-top img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: -1;
  }
  .sp-top h1 {
    font-size: 9rem;
    letter-spacing: 2rem;
    line-height: 1.8;
    margin-right: 6vw;
  }
  .about {
    min-height: 100vw;
  }
  .about .svg {
    top: 10vw;
    width: 75%;
  }
  .about .content p {
    font-size: 3rem;
    line-height: 3;
  }
  .about .content .sp-br {
    display: inline;
  }
  .cocktail {
    min-height: 100vw;
  }
  .cocktail .slider {
    top: -2vw;
  }
  .cocktail .slider .glass p {
    width: 10%;
    font-size: 1.8rem;
  }
  .store .svg-store-1 {
    top: 30vw;
    position: absolute;
    left: 0;
    width: 72%;
    z-index: -1;
  }
  .store .svg-store-2 {
    top: 180vw;
    position: absolute;
    right: 0;
    width: 72%;
    z-index: -1;
  }
  .store .store-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 18vw;
  }
  .store .store-wrapper .container {
    flex-direction: column;
    gap: 10vw;
  }
  .store .store-wrapper .container img {
    width: 80%;
  }
  .store .store-wrapper .container .content {
    width: 100%;
    gap: 10vw;
  }
  .store .store-wrapper .container .content p {
    font-size: 3rem;
  }
  .store .store-wrapper .container .content p span {
    font-size: 4.2rem;
  }
  footer {
    margin: 40vw 0 5vw;
  }
  footer p {
    font-size: 3rem;
  }
}/*# sourceMappingURL=style.css.map */