@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100;200;300;400;500;600;700;800;900&display=swap");
@import url("https://use.typekit.net/yyu4vbk.css");
@import url("https://fonts.googleapis.com/css2?family=Sawarabi+Mincho&display=swap");
body {
  background-color: #040b1e;
  color: #fef9f9;
  font-family: "Noto Sans JP", sans-serif;
}

h1 {
  font-family: "Sawarabi Mincho", serif;
}

h2 {
  font-family: superior-title, serif;
  color: #ffe943;
}

.sp-svg {
  display: none;
}

.top {
  margin-top: 11.59722vw;
  position: relative;
}

.top .top-img {
  width: 100vw;
  height: 41.38889vw;
}

.top h1 {
  position: absolute;
  top: 14.02778vw;
  left: 65.13889vw;
  font-size: 4.44444vw;
  letter-spacing: 1.33333vw;
}

.sp-top {
  display: none;
}

@media screen and (max-width: 450px) {
  .pc-svg {
    display: none;
  }
  .sp-svg {
    display: block;
  }
  .top {
    display: none;
  }
  .sp-top {
    display: block;
    position: relative;
  }
  .sp-top img {
    width: 100vw;
  }
  .sp-top h1 {
    position: absolute;
    top: 94.4vw;
    right: 7.46667vw;
    font-size: 8.53333vw;
    letter-spacing: 1.70667vw;
    line-height: 1.7;
  }
  .header {
    display: none;
  }
}

.about {
  margin-top: 14.79167vw;
  position: relative;
}

.about .svg {
  position: absolute;
  top: -2.56944vw;
  right: 0;
  width: 44.16667vw;
  height: 83.33333vw;
  z-index: -1;
}

.about .header {
  position: absolute;
  top: 0;
  left: 0.41667vw;
  width: 51.59722vw;
  height: 21.94444vw;
}

.about .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.about .content h2 {
  margin-top: 14.65278vw;
  font-size: 2.22222vw;
  font-weight: 900;
}

.about .content p {
  margin-top: 11.11111vw;
  font-size: 1.11111vw;
  line-height: 3;
  text-align: center;
}

.about .content .sp-br {
  display: none;
}

@media screen and (max-width: 450px) {
  .about {
    margin-top: 23.73333vw;
  }
  .about .svg {
    top: -15.73333vw;
    width: 69.33333vw;
    height: 81.33333vw;
  }
  .about .content h2 {
    margin-top: 0;
    font-size: 4.26667vw;
  }
  .about .content p {
    margin-top: 16vw;
    font-size: 3.2vw;
    line-height: 2;
  }
  .about .content .sp-br {
    display: inline;
  }
}

.cocktail {
  margin-top: 23.05556vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cocktail .header {
  position: absolute;
  top: 0;
  left: 0.41667vw;
  width: 71.11111vw;
  height: 21.94444vw;
}

.cocktail h2 {
  margin-top: 14.79167vw;
  font-weight: 900;
  font-size: 2.22222vw;
}

.cocktail .bar {
  margin-top: 11.25vw;
  position: relative;
}

.cocktail .bar .slider {
  position: absolute;
  top: 6.25vw;
}

.cocktail .bar .table {
  width: 100vw;
  height: 53.88889vw;
}

.cocktail .bar .splide {
  width: 100vw;
}

.cocktail .bar .splide .splide__list {
  position: relative;
}

.cocktail .bar .splide .is-active .glass {
  -webkit-transform: scale(1);
          transform: scale(1);
  z-index: 1;
}

.cocktail .bar .splide .glass {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-transition: 0.7s;
  transition: 0.7s;
}

.cocktail .bar .splide .glass img {
  vertical-align: baseline;
}

.cocktail .bar .splide .glass .rock {
  width: 7.70833vw;
  height: 10.97222vw;
  margin-top: 11.45833vw;
}

.cocktail .bar .splide .glass .long {
  width: 14.23611vw;
  height: 22.56944vw;
}

.cocktail .bar .splide .glass .cocktail-glass {
  width: 11.875vw;
  height: 19.23611vw;
  margin-top: 3.33333vw;
}

.cocktail .bar .splide .glass .wine {
  width: 10.13889vw;
  height: 22.56944vw;
  margin-top: 0.13889vw;
}

.cocktail .bar .splide .glass p {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  font-size: 1.11111vw;
  font-family: "Sawarabi Mincho", serif;
}

.cocktail .modal {
  width: 70.48611vw;
  height: 83.33333vw;
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.cocktail .modal.is-show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
  z-index: 10;
}

.cocktail #close {
  position: fixed;
  top: 6.25vw;
  right: 16.66667vw;
  width: 5.91133vw;
  height: 5.91133vw;
  z-index: 11;
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.cocktail #close.is-show {
  opacity: 1;
  pointer-events: auto;
  visibility: visible;
}

@media screen and (max-width: 450px) {
  .cocktail {
    margin-top: 37.06667vw;
  }
  .cocktail .bar {
    margin-top: 7.73333vw;
  }
  .cocktail .bar .slider {
    top: -2.66667vw;
  }
  .cocktail .bar .table {
    height: 61.62133vw;
  }
  .cocktail .bar .splide .glass .rock {
    width: 13.6vw;
    height: 19.35733vw;
    margin-top: 16.98133vw;
  }
  .cocktail .bar .splide .glass .long {
    width: 22.93333vw;
    height: 36.35733vw;
  }
  .cocktail .bar .splide .glass .cocktail-glass {
    width: 19.52267vw;
    height: 31.624vw;
    margin-top: 4.53333vw;
  }
  .cocktail .bar .splide .glass .wine {
    width: 15.57333vw;
    height: 34.66667vw;
    margin-top: 1.6vw;
  }
  .cocktail h2 {
    font-size: 4.26667vw;
  }
}

.store {
  margin-top: 12.70833vw;
  padding-top: 14.79167vw;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.store .svg {
  position: absolute;
  left: 0;
  top: 21.45833vw;
  width: 84.72222vw;
  height: 79.09722vw;
  z-index: -1;
}

.store .header {
  position: absolute;
  top: 0;
  left: 0.41667vw;
  width: 45vw;
  height: 21.94444vw;
}

.store h2 {
  font-weight: 900;
  font-size: 2.22222vw;
}

.store .store-warp {
  margin-top: 10.20833vw;
}

.store .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 15vw;
          column-gap: 15vw;
}

.store .container:nth-child(2) {
  margin: 12.43056vw 0 14.02778vw;
}

.store .container img {
  width: 21.45833vw;
  height: 15.41667vw;
}

.store .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  row-gap: 3.125vw;
}

.store .content p {
  text-align: center;
  font-size: 1.11111vw;
  line-height: 2;
}

.store .content p span {
  font-size: 1.66667vw;
}

@media screen and (max-width: 450px) {
  .store {
    margin-top: 28.77867vw;
  }
  .store .svg-store-1 {
    top: 92.8vw;
    width: 63.46667vw;
    height: 93.06667vw;
  }
  .store .svg-store-2 {
    top: 239.73333vw;
    left: 62.13333vw;
    width: 37.86667vw;
    height: 81.33333vw;
  }
  .store h2 {
    font-size: 4.26667vw;
  }
  .store .container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 10.4vw;
  }
  .store .container:nth-child(2) {
    margin: 38.93333vw 0;
  }
  .store .container img {
    width: 45.33333vw;
    height: 32.57067vw;
  }
  .store .content {
    row-gap: 8vw;
  }
  .store .content p {
    font-size: 3.2vw;
  }
  .store .content p span {
    font-size: 3.73333vw;
  }
}

.footer {
  margin: 33.68056vw 0 4.72222vw;
}

.footer p {
  font-family: superior-title, serif;
  font-size: 0.83333vw;
  text-align: center;
}

@media screen and (max-width: 450px) {
  .footer {
    margin: 20.53333vw 0 21;
  }
  .footer p {
    font-size: 2.13333vw;
  }
}

section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}

.title {
  font-size: 4.72906vw;
  font-family: "Sawarabi Mincho", serif;
  margin: 10.93596vw 0 -0.09852vw;
}

.subtitle {
  font-size: 1.97044vw;
  text-align: center;
}

.cocktail-about {
  width: 100vw;
  margin-top: 1.87192vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 27.29064vw;
          column-gap: 27.29064vw;
}

.cocktail-about img {
  width: 26.40394vw;
  height: 4.92611vw;
}

.cocktail-about .content p:nth-child(1) {
  font-size: 1.57635vw;
}

.cocktail-about .content p:nth-child(2) {
  font-size: 2.36453vw;
  font-weight: bold;
  margin-top: 0.39409vw;
}

.icebreaker .main {
  width: 56.84729vw;
  height: 73.10345vw;
}

.material {
  margin-top: 8.17734vw;
}

.material img {
  position: absolute;
  top: 107.88177vw;
  right: 0;
  width: 64.53202vw;
  z-index: -1;
}

.material table {
  width: 50.44335vw;
  height: 18.71921vw;
  margin-top: 3.25123vw;
}

.material table td {
  width: 50%;
  text-align: center;
  vertical-align: middle;
  border: 1px solid #fef9f9;
}

.material table td p {
  text-align: center;
  font-size: 1.57635vw;
}

.recipe {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 6.30542vw;
}

.recipe .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 7.68473vw;
          column-gap: 7.68473vw;
  margin-top: 9.85222vw;
}

.recipe .recipe-3 {
  width: 5.91133vw;
  height: 36.25616vw;
}

.recipe .content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  row-gap: 14.58128vw;
  margin-top: 0.59113vw;
}

.recipe .content p {
  font-size: 1.57635vw;
}

.impression {
  margin: 14.6798vw 0 9.16256vw;
}

.impression .content {
  margin-top: 8.07882vw;
}
/*# sourceMappingURL=style.css.map */